@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#originalUrl::placeholder {
    color: #666;
    opacity: 1;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: 
        radial-gradient(at 40% 20%, #FFB3BA 0px, transparent 50%),
        radial-gradient(at 80% 0%, #FFDFBA 0px, transparent 50%),
        radial-gradient(at 0% 50%, #FFFFBA 0px, transparent 50%),
        radial-gradient(at 80% 50%, #BAFFC9 0px, transparent 50%),
        radial-gradient(at 0% 100%, #BAE1FF 0px, transparent 50%),
        radial-gradient(at 80% 100%, #E3BAFF 0px, transparent 50%),
        radial-gradient(at 0% 0%, #FFB3E1 0px, transparent 50%);
    }

.container {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    padding: 20px 30px;
    border: 2px solid #000;
    text-align: center;
    min-width: 400px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container i {
    font-size: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

label {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    font-weight: 500;
}

input::placeholder {
    color: #222;
}

.buttons, .copybutton {
    display: flex;
    gap: 10px;
}

button {
    width: 100%;
    color: #000;
    border: 2px solid #000;
    padding: 8px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
}

textarea {
    resize: none;
}